# version 0.1
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ add.php?add_mvc_path=$1&%{QUERY_STRING} [L]
RewriteRule ^$ add.php?add_mvc_path=$1&%{QUERY_STRING} [L]